$default-font-color: #000;
$background-color: rgb(224, 184, 206);
$container-bgcolor: whitesmoke;
$container-bordercolor: black;
$textbox-bordercolor: lightgrey;
$button-textcolor: white;
$button-hovercolor: black;
$add-button-color: rgb(0, 0, 0);
$clear-button-color: #9f6060;


@mixin mq($size) {
@media only screen and (min-width: size) {
    @content;
}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html, body {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    color: $default-font-color;
    width: 100%;
    min-width: 100%;
    @include mq(768px) {
        font-size: 22px;
    }
}

body {
    padding: 20px;
    background-color: $background-color;
    background-size: cover;
    background-position: center;
}

section {
    background-color: $container-bgcolor;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border: 1px solid $container-bordercolor;
    border-radius: 10px;
}
